body {
  font-family: "Segoe UI", sans-serif;
  background: #fafafa;
  margin: 40px;
}

.gallery-wrapper {
  position: relative;
  top: 50px;
  max-width: 950px;
  margin: 50px auto;
  overflow: hidden;
}

input[type="radio"] {
  display: none;
}

.gallery {
  width: 200%;
  transition: transform 0.6s ease;
  text-align: center;
}

.slide {
  width: 50%;
  float: left;
  padding: 20px 0;
}

.photo {
  display: inline-block;
  margin: 10px;
  width: 200px;
  overflow: hidden;
  transition: transform 0.3s ease;
  vertical-align: top;
}

.photo img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.photo:hover {
  border: 15px solid #ffffff;
  transform: scale(1.1);
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  position: sticky;
  z-index: 10;
}

.desc {
  top: 0;
  opacity: 0;
  visibility: hidden;
  background: #dfdfdf;
  border: 1px solid #ccc;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  text-align: left;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 1.4;
  transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
  transform: translateY(10px);
}

.photo:hover .desc {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.recipe
{
    font-style: italic;
}

.desc h3 {
  color: #0075c3;
  margin: 0 0 8px;
  text-decoration: underline;
}

.arrow {
  position: absolute;
  top: 15%;
  transform: translateY(-50%);
  font-size: 40px;
  color: #aaa;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s;
  z-index: 10;
}
.arrow:hover {
  color: #333;
}
.arrow.left { left: 10px; }
.arrow.right { right: 10px; }

#slide1:checked ~ .gallery {
  transform: translateX(0);
}
#slide2:checked ~ .gallery {
  transform: translateX(-50%);
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background: rgba(0,0,0,0.7);
  display: none;
  z-index: 999;
}

.modal:target {
  display: block; 
}

.modal-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  box-shadow: 0 0 20px rgba(255,255,255,0.3);
}

.close {
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  transition: 0.2s;
}

.close:hover {
  color: #ddd;
}