body {
  font-family: "Segoe UI", sans-serif;
  background: #fafafa;
  margin: 40px;
}

.gallery-wrapper {
  position: relative;
  width: 90%;
  max-width: 950px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
}

input[type="radio"] {
  display: none;
}

/* Галерея */
.gallery {
  width: 200%;
  transition: transform 0.6s ease;
  text-align: center;
}

/* Один слайд (4 фото) */
.slide {
  width: 50%;
  float: left;
  padding: 20px 0;
}

/* Фото */
.photo {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 200px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  vertical-align: top;
}

.photo img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
  cursor: pointer;
}

/* При наведенні */
.photo:hover img {

  transform: scale(1.05);
}

/* Картка знизу */
.desc {
  position: relative;
  top: 0;
  opacity: 0;
  visibility: hidden;
  background: #dfdfdf;
  border: 1px solid #ccc;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  text-align: left;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 1.4;
  transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
  transform: translateY(10px);
  z-index: 5;
}

/* Показуємо при наведенні */
.photo:hover .desc {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.recipe
{
    font-style: italic;
}

/* Заголовок */
.desc h3 {
  color: #0075c3;
  margin: 0 0 8px;
  text-decoration: underline;
}

/* Стрілки */
.arrow {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  font-size: 40px;
  color: #aaa;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s;
  z-index: 10;
}
.arrow:hover {
  color: #333;
}
.arrow.left { left: 10px; }
.arrow.right { right: 10px; }

/* Перемикання слайдів */
#slide1:checked ~ .gallery {
  transform: translateX(0);
}
#slide2:checked ~ .gallery {
  transform: translateX(-50%);
}